[*.cs]

# CS1570: XML-Kommentar weist ein ungültiges Format auf
dotnet_diagnostic.CS1570.severity = silent

# CS1591: Fehledes XML-Kommentar für öffentlich sichtbaren Typ oder Element
dotnet_diagnostic.CS1591.severity = silent

[MaxLib.WebServer/**.cs]

# CA1805: Do not initialize unnecessarily
dotnet_diagnostic.CA1805.severity = error

# CA1507: Use nameof to express symbol names
dotnet_diagnostic.CA1507.severity = error

# CA1510: Use ArgumentNullException throw helper
dotnet_diagnostic.CA1510.severity = error

# CA1512: Use ArgumentOutOfRangeException throw helper
dotnet_diagnostic.CA1512.severity = error

# CA1513: Use ObjectDisposedException throw helper
dotnet_diagnostic.CA1513.severity = error

# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = error

# CA1816: Dispose methods should call SuppressFinalize
dotnet_diagnostic.CA1816.severity = error
